
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,700;0,800;1,400&family=Work+Sans:wght@400;500;600;700;800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
  }

h1, h2 {
  color: #0b0223;
}

a {
    text-decoration: none;
    cursor: pointer;
  }
  
ul {
    list-style: none;
}
p {
    color: #534c64;
}


header{
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.header-section {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    margin: 0 auto;
    max-width: 1430px;
}
.header-icon {
    display: flex;
    align-items: center;
    gap: 20px;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    gap: 2rem;
}
.span1 {
    color:  #ff42a5;
}
social-all-icon {
    display: flex;
    gap: 1rem;
 }
.follow-us-on{
    display: flex;
    align-items: center;
    border-radius: 6px;
    gap: 1.4rem;
    background-color: rgba(11, 2, 35, 0.1);
    padding: 16px 24px;
}
.btn1, .btn2 {
    border-radius: 48px;
    padding: 21px 40px;
    border: none;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}
.btn1 {
    background: #ff42a5;
}
.btn2 {
    background: #4ec5f7;
}

.banner-section{
    max-width: 1440px;
    margin: 0 auto;
}
.banner{
    background-image: url("images/iconic.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.banner-part {
    text-align: start;
}
  .banner-content li img {
    width: 22px;
}
.banner-content h2 {
    color: #0b0223;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
}
.banner-part strong {
    text-align: center;
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-part ul {
    color: #534C64;
    margin-top: 24px;
    margin-bottom: 41px;
    font-size: 20px;
    font-weight: 500;
    text-transform: lowercase;
}
.banner-part ul li {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.banner-button {
    display: flex;
    gap: 24px;
}
.banner-section {
    display: flex;
    text-align: right;
    align-items: center;
    justify-content: space-between;

  }
  
