
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,700;0,800;1,400&family=Work+Sans:wght@400;500;600;700;800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

h1, h2 {
  color: #0b0223;
}

a {
    text-decoration: none;
    cursor: pointer;
}
  
ul {
    list-style: none;
}
p {
    color: #534c64;
}


header{
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.header-section {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    margin: 0 auto;
    max-width: 1430px;
}
.header-icon {
    display: flex;
    align-items: center;
    gap: 20px;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    gap: 16px;
}
.span1 {
    color:  #ff42a5;
}
.social-all-icon {
    display: flex;
    gap: 16px;
 }
.follow-us-on{
    display: flex;
    align-items: center;
    border-radius: 4px;
    gap: 22px;
    background-color: rgba(11, 2, 35, 0.1);
    padding: 16px 24px;
}
.btn1, .btn2 {
    border-radius: 48px;
    padding: 21px 40px;
    border: none;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}
.btn1 {
    background: #ff42a5;
}
.btn2 {
    background: #4ec5f7;
}

.banner-section{
    max-width: 1440px;
    margin: 0 auto;
}
.banner{
    background-image: url("images/iconic.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.banner-part {
    text-align: start;
}
  .banner-content li img {
    width: 22px;
}
.banner-content h2 {
    color: #0b0223;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
}
.banner-part strong {
    text-align: center;
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-part ul {
    color: #534C64;
    margin-top: 24px;
    margin-bottom: 41px;
    font-size: 20px;
    font-weight: 500;
    text-transform: lowercase;
}
.banner-part ul li {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.banner-button {
    display: flex;
    gap: 24px;
}
.banner-section {
    display: flex;
    text-align: right;
    align-items: center;
    justify-content: space-between;

}

.btn1-banner2 {
    display: flex;
    justify-content: right;
  }
.banner2-section {
    flex-direction: row-reverse;
    text-align: right;
 }
.banner2 {
    background: #fff9fc;
    padding-top: 95px;
    padding-bottom: 95px;
}
.banner2-part {
    text-align: right;
}
.banner2-part h2 {
    background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    font-weight: 700;
  }
.banner2-part p {
    color: #534c64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 24px;
    margin-bottom: 32px;
}
.span3 {
    color: #534c64;
    font-size: 32px;
    font-weight: 700;
    line-height: 45px;
}
.banner2-content h4 {
    color: #534c64;
    text-align: right;
    font-size: 24px;
    font-weight: 500;
    line-height: 45px;
    margin-top: 24px;
}

main {
    max-width: 1440px;
    margin: 0 auto;
}
.online-games {
    margin-top: 120px;
}
.online-game-title {
    text-align: center;
}
.online-games h2 {
    color: #0b0223;
    font-size: 48px;
    font-weight: 700;
}
.online-games p {
    color: #534C64;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: 16px;
    margin-bottom: 48px;
}
.online-game-images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}
.part-by-part .img {
    width: 100%;
}
.card p {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}
.watch-now {
    text-align: center;
    visibility: hidden;
}
.part-by-part .watch-now i {
    color: #ffffff;
    font-size: 54px;
    z-index: 99999;
    margin-bottom: 16px;
  }
  
.watch-now h2 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 110px;
    color: #f948b2;
    cursor: pointer;
}
.part-by-part{
    position: relative;
}
  .part-by-part  .watch-now {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  .part-by-part:hover  .watch-now {
    visibility: visible;
}
  
.part-by-part:hover img {
    filter: brightness(0.8) blur(2px);
    cursor: pointer;
    transition: all 0.2s;
}
.watch-now i:hover {
    color: #e7e4e6dc;
    cursor: pointer;
}


.play-instantly-section{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 265px;
  }
  .play-instantly-part {
    text-align: right;
  }
  .play-instantly {
    margin: 120px 0 243px 0;
  }
  .play-instantly-part h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
  }
  .play-instantly-part p {
    width: 353px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
  }
  .relative-img {
    position: absolute;
    right: 466px;
    top: 357px;
    z-index: 1;
  }
  .play-instantly-section2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: end;
    align-items: center;
    gap: 265px;
  }
  .play-img {
    text-align: start;
    position: relative;
  }
  .relative-img2 {
    top: 405px;
    position: absolute;
    z-index: 1;
    left: 529px;
  }
  .play-instantly-section2 {
    margin-top: 195px;
  }
  .play-instantly-content2 {
    text-align: start;
  }


.category {
     margin-top: 243px;
     margin-bottom: 118px;
}
  .category-part {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
  .btn3 img {
    width: 60px;
  }
  .btn3 {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: #0b0223;
    font-size: 20px;
    font-weight: 600;
    background: #fff;
    border-radius: 50px;
    border: 2px solid #fff;
    padding: 10px 20px 10px 10px;
    transition: all ease-in 0.4s;
  }
  .btn3:hover {
    border: 2px solid var(--primary-color);
    color: #f948b2;
  }





  @media screen and (max-width: 576px) {
    * {
      margin: 0;
      padding: 0;
    }
    .header-section{
        flex-direction: column;
        max-width: auto;
      }
      .header-icon {
        justify-content: center;
        margin-bottom: 62px;
      }
      .menu {
        flex-direction: column;
      }
      .banner-section {
        max-width: auto;
      }
      .banner {
        background-image: none;
        padding: 0;
      }
      .banner-part{
        justify-content: center;
        display: grid;
        background-size: cover;
        padding-top: 100px;
        padding-bottom: 100px;
        width: 100%;
      }
      .banner-section {
        flex-direction: column-reverse;
      }
      .banner-section img {
        width: 100%;
      }

      .banner2-section {
        text-align: center;
        padding-bottom: 0;
      }
      .btn1-banner2 {
        justify-content: center;
      }
    
      .banner2-section {
        flex-direction: column-reverse;
      }
      .btn1-banner2 {
        justify-content: center;
      }
    
      .banner2-section {
        flex-direction: column-reverse;
      }
      main {
        max-width: auto;
      }
    
      .online-games {
        padding: 0 15px;
      }

      .online-game-images {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 0 15px;
      }
      .part-by-part img {
        width: 100%;
      }

      .play-instantly {
        padding: 15px;
        margin: auto;
      }
      .play-instantly-section {
        flex-direction: column;
        justify-content: end;
        align-items: center;
        gap: 74px;
      }
      .play-instantly-part {
        text-align: center;
      }
      .play-instantly-img img {
        width: 70%;
      }
      .play-instantly-section2 {
        flex-direction: column;
        gap: 74px;
      }
      .play-instantly-part p {
        width: auto;
      }
      .play-img .relative-img {
        position: absolute;
        right: 254px;
        width: 35%;
        top: 227px;
        z-index: 1;
      }
      .play-img {
        text-align: center;
      }
      .play-img .relative-img2 {
        top: 208px;
        position: absolute;
        z-index: 1;
        left: 255px;
        width: 35%;
      }
      
      .category {
        margin-top: 143px;
        margin-bottom: 118px;
      }
      .category-part {
        gap: 5px;
      }
      .btn3 {
        font-size: 13px;
        align-items: center;
        font-size: 0.6rem;
        gap: 5px;
        flex-basis: 32%;
      }
      .btn3 img {
        width: 30px;
      }
      .btn3:hover {
        border: 1px solid var(--primary-color);
      }
    
      
      
  
  
  
  
